# Node.js dependencies
node_modules/

# Visual Studio Code settings
.vscode/

# Python virtual environment
venv/

# Python bytecode files
__pycache__/

# Log files
*.log

# Operating system specific files
.DS_Store        # macOS
Thumbs.db        # Windows

# Environment variable files
.env